body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


td {
    width: 55px;
    height: 55px;
    background-color: lightgray;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}
td:hover {
    background-color: aquamarine;
}

th {
    height: 55px;
    border: black 2px;
}